# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env

# Virtual environments
venv/
env/
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# JupyterLab workspace settings (optional)
.jupyterlab/
